<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="file" fileName="./logs/common_all.log" filePattern="./logs/common_all.%i.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies />
        </RollingFile>
    </appenders>

    <loggers>
        <root level="INFO" additivity="false" >
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
    </loggers>
</configuration>

